// color
$--color-white: #ffffff !default;
$--color-primary: #1890ff !default;
$--color-success: #13c1a3 !default;
$--color-warning: #ff8000 !default;
$--color-danger: #f45454 !default;
$--color-info: #969faa !default;

// text
$--color-text-primary: #323a45 !default;

// bg
$--background-color-base: #f5f7fa !default;

// border
$--border-radius-base: 4px !default;
$--border-color-base: #dcdfe6 !default;
